.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
.label {
  display: block;
}
.input {
  width: 200px;
  border: 1px solid #4d556a;
  border-radius: 4px;
  padding: 5px;
  color: #4d556a;
}
.button {
  margin-top: 10px;
  width: 100px;
  color: #2e3440;
  background: #e5e9f0;
  border: 1px solid #d8dee9;
  border-radius: 25px;
  padding-inline: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform 250ms;
}
.button:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 2px 0px rgba(0, 0, 0, 0.12);
  transform: translateY(-1px);
}
